<div class="sidebar">

  <h2 class="text-center text-white mb-4">Rapid Global</h2>

  <div id="sidebarAccordion">

    <div *ngFor="let module of sidebarData">

      <!-- Module -->
      <a class="nav-link text-white d-flex justify-content-between align-items-center"
         data-bs-toggle="collapse"
         [attr.href]="'#module-' + module.id">

        <span>
          <i class="fa" [ngClass]="module.icon"></i>
          {{ module.name }}
        </span>

        <i class="fa fa-chevron-down"></i>
      </a>

      <!-- Menus -->
      <div class="collapse" [id]="'module-' + module.id">
        <ul class="nav flex-column">
          <li *ngFor="let menu of module.menus">
            <a [routerLink]="menu.route"
               class="nav-link text-white">
              {{ menu.name }}
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>
